

<div class="titulosite">
  <div class="logo-imagem">
    <img src="/assets/logo.png" alt="FaculRide Logo" width="80px" >
  </div>
  <div class="nometitulo">
    <h1><a routerLink="/home">FaculRide</a></h1>
  </div>
  <div class="menu">
    <nav>

      <li><a routerLink="/home" fragment="footer">Ajuda</a></li>  <!-- Navega para a rota 'home' e vai até o footer -->
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/cadastro" style="background-color: white; color: skyblue; padding: 5px 10px; border-radius: 20px;">Cadastre-se</a></li> <!-- Corrigido o routerLink -->
    </nav>
  </div>
</div>

