


<div class="box1">
  <div>
        <br>
        <br>
        <br>
        <br>
        <h1 class="texto1">Sua carona segura e </h1>
        <h1 class="texto1">econômica, </h1>
        <h1 class="texto1">para sua formação!</h1>
        <br>
        <br>
            </div>
   <div class="espacamento"></div>
        <div class="image1">
            <br>
            <img class="image1" src="/assets/imagem1.jpg" >
            <br>
            <br>
            <br>
            <br>
            <div class="div2">
              <a routerLink = "/procurar">Procurar carona</a>
            </div>
           <!--- <div class="div2">
              <a routerLink = "/carona"> Oferecer carona</a>             // vai usar este ?
            </div> -->

        </div>
  </div>
  <div class="box2">
    <br>
    <br>
    <img class="image2" src="assets/imagem2.jpg">
    <div class="espacamento"></div>
        <div>
        <br>
        <br>
        <br>
        <br>
        <h1 class="texto2">A FaculRide é um aplicativo</h1>
        <h1 class="texto2">desenvolvido para você</h1>
        <h1 class="texto2">estudante da Fatec que está</h1>
        <h1 class="texto2">a procura de uma forma de</h1>
        <h1 class="texto2">transporte segura e econômica.</h1>
        <h1 class="texto2">Clique abaixo e pegue sua carona!</h1>
        <br>
        <div class="div3">
            <a routerLink="/login">Login</a>
        </div>
        <div class="div3" >
          <a routerLink="/cadastro">Cadastre-se</a>
        <br>
        <br>
        </div>
        </div>
  </div>


