
<section class="carona">
  <div class="carona-container">
      <div class="procurar-container">
          <input type="text" class="input-box" placeholder="Informe seu local">
          <input type="text" class="input-box" placeholder="Informe seu destino">
      </div>

      <div class="div3">
          <a routerLink="/carona" >Procurar carona</a>
      </div>

    </div>
  <div class="mapa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3657.955148196872!2d-47.442721019326775!3d-23.53411554194308!3m2!1i1024!2i768!4f13.1!4m3!3e0!4m0!4m0!5e0!3m2!1spt-BR!2sbr!4v1718677588922!5m2!1spt-BR!2sbr"
    width="800"
    height="500"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
</iframe>
  </div>
</section>


