<section class="login-section">
  <h2>Faça seu login</h2>
  <div class="login-container">
    <h2>Login</h2>
    <input
      type="email"
      [(ngModel)]="email"
      placeholder="Digite seu email"
      required
    />
    <input
      type="password"
      [(ngModel)]="password"
      placeholder="Digite sua senha"
      required
    />
    <button (click)="login()">Entrar</button>
  </div>

  <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>

  <div *ngIf="showRecoverPasswordSection" class="recover-container">
    <label for="recover-email">E-mail para Recuperação</label>
    <input
      id="recover-email"
      type="text"
      [(ngModel)]="recoverEmail"
      placeholder="Informe seu e-mail"
    />
    <button class="btn-primary" (click)="sendRecoverEmail()">Enviar</button>
  </div>

  <p *ngIf="recoverMsg" class="success">{{ recoverMsg }}</p>
  <p>ou</p>
  <button>Continuar com Google</button>
  <button>Continuar com Facebook</button>
  <p>Ainda não tem cadastro? <a routerLink="/cadastro">Cadastrar</a></p>
</section>
