<div class="containerimg">
  <div class="dev1">
      <div class="profile">
          <img src="/assets/wesley.jpeg" alt="Wesley Queiroz">
          <h2>Wesley Queiroz</h2>
      </div>
      <div class="profile">
          <img src="/assets/gabriel.jpeg" alt="Gabriel Correa">
          <h2>Gabriel Correa</h2>
      </div>
      <div class="profile">
          <img src="/assets/anthonny.jpeg" alt="Anthonny Cocuzza">
          <h2>Anthonny Cocuzza</h2>
      </div>
  </div>
  <div class="dev2">
      <div class="profile">
          <img src="/assets/wendel.jpeg" alt="Wendel Augusto">
          <h2>Wendel Augusto</h2>
      </div>
      <div class="profile">
          <img src="/assets/breno.jpeg" alt="Breno Silva">
          <h2>Breno Silva</h2>
      </div>
      <div class="profile">
          <img src="/assets/heri.jpg" alt="Herivelton Gonçalves">
          <h2>Herivelton Gonçalves</h2>
      </div>

  </div>
</div>
